# these are Deafult Images that are used for posh :( UI
admins/default-admin-profile.jpg
clients/20231210225957_4d5919.png
clients/default-client-profile.png
main/brand.png
main/favicon.ico
main/home-cover-01.png
main/home-cover-02.png
main/home-cover-03.png
posts/default.jpg
providers/20231211000852_bdfc4b.png
providers/default-brand-cover.jpg
providers/default-brand-profile.jpg
services/20231211000958_795f06.jpg
services/default.jpg
services/hair-hair.png
services/sv-glow-skin.png
services/sv-hair.png
services/sv-makeup.png
services/sv-massage.png
services/sv-nail-art.png
services/sv-skin-bliss.png
