<!doctype html>
<html
  lang="en"
  data-theme="default"
>
  <head>
    <!-- prettier-ignore -->
    {% include 'head.html' %}
  </head>

  <body id="body">
    <!-- nav bar halding -->
    <!-- prettier-ignore -->
    {% if session.get('current_user') and session.get('current_user')['_is_admin'] %}
      {% include 'nav/admin.html' %}
    {% elif session.get('current_user') and session.get('current_user')['_is_provider'] %}
      {% include 'nav/provider.html' %}
    {% else %}
      {% include 'nav/client.html' %}
    {% endif %}

    <!--  -->
    {% include 'flash.html' %}

    <!-- the main container that keep all content(top level) -->
    <!-- prettier-ignore -->
    <div id="_content" class="min-h-full slide-it">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
