{% extends 'layout.html' %}

<!--  -->
{% block content %}
<div class="mb-2 btn btn-warning">
  <a class="text-decoration-none" href="{{ url_for('register')}}">
    Join as User
  </a>
</div>
<!--  -->
<div class="form-container p-4" style="background-color: antiquewhite">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="brand_title" class="form-label">Brand Title</label>
      <input type="text" class="form-control" name="brand_title" required />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">User Name</label>
      <input type="text" class="form-control" name="username" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" required />
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" required />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}
