<!-- prettier-ignore -->
{% extends 'layout.html' %}
{% block content %}

<div class="container mx-auto ">
  <form
    method="POST"
    action=""
    class="d-block mx-auto mt-4  w-1/2 rounded-md bg-blue-400 p-2"
  >
    <div class="mb-3">
      <label
        for="email"
        class="form-label text-black"
      >
        Email</label
      >
      <input
        type="email"
        class="form-control text-black"
        name="email"
        required
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>

{% endblock content %}
